# Java / Spring Boot
**/target/
**/.mvn/
!**/.mvn/wrapper/
*.class

# IntelliJ IDEA
**/.idea/
*.iml

# Node
**/node_modules/
**/dist/

# Environment / secrets
.env
.env.*
**/.env
**/.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Spring Boot secrets
application.properties
application-*.properties

# Maven build files
target/